.container-movie {
    background-color: #ffffff;
    padding:12px 20px;
    width: 270px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container {
    display: flex;
    background-color: white;
    padding: 19px 18px;
    width: 454px;
    max-height: 281px;
    margin: 0;
}

.container .movie-image {
    width: 183px;
    /*width: 150px;*/
    /*height: 150px;*/
}

h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 0;
    margin-top: 12px;
    padding: 0;
}

.date {
    margin: 7px 0;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}

.button {
    margin-right: 8px;
    margin-bottom: 7px;
    color: #827E7E;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.overview {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
